.header {
    .user-info {
        order: 5;

        div>a {
            font-size: 1.5625rem;
            color: $theme-primary;
        }

        .dropdown {
            >a {
                font-size: 18px;
            }
        }
    }
}

.dropdown {
    a {
        span {
            font-size: 12px;
            margin-left: 8px;
        }

        &::after {
            display: none;
        }
    }

    .dropdown-menu {
        &.show {
            min-width: 200px;
            background: $theme-bg;
            padding: 0;
            overflow: hidden;
        }

        li {
            a {

                padding: 10px 10px;
                border-bottom: 1px solid $theme-secondary;

                @media (min-width: 992px) {
                    font-size: 18px;
                }

                span {
                    margin-right: 8px;
                    font-size: 18px;
                }

                &:hover {
                    background: $theme-primary;
                    color: $white;
                }
            }

            &:last-child {
                a {
                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
        }
    }

}