.main-wrapper {
    .table-head {
        .search-bar {
            .input-group-prepend {
                button {
                    span {
                        font-size: 22px;
                    }
                }
            }
        }

        .form-select {
            max-width: 150px;
            margin-right: 25px;
        }
    }

    .table {
        thead {
            background: $theme-bg;

            th {
                padding: 15px 10px;
                color: $th-color;
                vertical-align: middle;
                background: $theme-bg;
            }
        }

        tbody {
            tr {
                cursor: pointer;

                td {
                    color: $td-color;
                    font-size: 14px;
                    vertical-align: middle;
                    &:first-child{
                        text-align: center;
                    }
                    a,
                    button {
                        font-size: 16px;
                        width: 30px;
                        height: 30px;
                        text-align: center;
                        padding: 4px 0;
                    }
                }
            }
        }
    }
}

.asc-order {
    @include arrow(up, 7px, #a3a3a3);
    cursor: pointer;

    &.active {
        border-bottom: 7px solid rgb(77, 76, 76);
    }
}

.desc-order {
    margin-top: 1px;
    @include arrow(down, 7px, #a3a3a3);
    cursor: pointer;

    &.active {
        border-top: 7px solid rgb(77, 76, 76);
    }
}

.productModal {
    .modal-body {
        max-height: 700px;
        overflow-y: auto;
    }
}